.Progress-bg {
  position: relative;
  top: -tvh;
  height: 12px;
  background-color: white;
  border-bottom: 3px solid black;
  transition: opacity 500ms;
  opacity: 1;
}
.Progress-bg.hide {
  transition: opacity 500ms 1s;
  opacity: 0;
  height: 12px;
}

.Progress-fg {
  background-color: black;
  height: 12px;
  transition: width 1s ease-in-out;
}